.main-page {
  padding-left: 1000;
  padding-right: 42;
  width: 100vw;
}
.match-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: "#FAF";
  font-family: Arial, sans-serif;
}

.match-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* border-bottom: 1px solid #faf; */
  background-color: #faf;
}

.match-item:nth-child(odd) {
  background-color: red;
}

.match-item div {
  font-size: 14px;
  color: "purple";
}

.loading,
.no-data {
  text-align: center;
  font-size: 18px;
  color: #666;
}
